.card-container{
    width:300px;
    text-align: start;
    
}
.img-card{
    height:200px;
    width:300px;
}

.about-item{
    display: flex;
    justify-content:space-between ;
}
.add-button{
    width:300px;
    height: 40px;
    color:rgb(83, 83, 231);
    outline: rgb(83, 83, 231);
}